<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">{% with comments.count as total_comments %}
        Comment{{ total_comments|pluralize }} - {{ total_comments }}
        {% endwith %}
    </h5>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li>
                 {% for comment in comments %}
                        <!-- Single Comment -->
                    <div class="media mb-4 md-5">
                     <div class="media-body">
                        <h6 class="ui positive basic ">{{ comment.name }}
                            <a>
                                <span class="text-muted">{{ comment.created }}</span>
                            </a>
                        </h6>
                        <br>
                        <p> {{ comment.body|linebreaks }} </p>
                    </div>
                    </div>
                <hr>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>





