<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <form action="{% url 'blog:post_list' %}" method="get">
            <div class="input-group">
                <input type="search" class="form-control" name="query" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 15 15" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg>
                </button>
            </span>
        </div>
        </form>
    </div>
</div>